body {
    font-family: Arial, sans-serif;
  }
  nav{
      background-color: rgb(162, 186, 196);
  }
  .hero {
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .hero .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
  footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  .navbar-brand img {
    height: 30px; /* Adjust the size of the logo */
    margin-right: 10px; /* Space between logo and text */
  }